
<ul class="rr-list">
  {{#each sortedSongs as |song|}}
    <li class="rr-list-item" data-test-rr="song-list-item">
      {{song.title}}
      {{star-rating class="fr" rating=song.rating item=song
      onClick=(action 'updateRating' song)}}
      {{!-- {{#star-rating rating=song.rating as |stars|}} --}}
      {{!-- {{#each stars as |star|}}
        {{#if star.isFull}}
        <span>star</span>
        {{/if}}
        {{/each}}
      {{/star-rating}} --}}
    </li>
  {{else}}
    <li class="rr-empty-message">
      No {{model.name}} songs yet.
    </li>
  {{/each}}
</ul>
<div class="rr-new-label">
  {{#if isAddingSong}}
    <form class="rr-inline-form" onsubmit={{action "saveSong"}} data-test-rr="new-song-input">
      {{input type="text" class="rr-input" value=newSongName data-test-rr="new-song-input"
      placeholder="New song"}}
      <button type="submit" class="rr-action-button" disabled={{isAddButtonDisabled}} data-test-rr="new-song-button">Add</button>
      <span class="rr-cancel-icon" onclick={{action
      "cancelAddSong"}}>{{fa-icon "times"}}</span>
    </form>
  {{else}}
    <label onclick={{action "addSong"}} data-test-rr="new-song-label">
      {{fa-icon "plus"}}
      <span class="ml1">Add new song</span>
    </label>
  {{/if}}
</div>